{% extends '::base.html.twig' %}

{% block body %}
    <div class="translation">
        <h2>Translation list</h2>

        {{ form(form) }}

        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager, 'twitter_bootstrap3', {'routeName': 'translation_paginated', 'routeParams': {'slug': learning.slug}}) }}
        {% endif %}
        <table class="table records_list">
            <thead>
                <tr>
                    <th>{{ learning.language1 }}</th>
                    <th>{{ learning.language2 }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in pager.currentPageResults %}
                <tr>
                    <td>
                        <span class="is-visible">{{ entity.word1 }}</span>
                        {% if entity.word1.article %}<span class="is-visible">({{ entity.word1.article }})</span>{% endif %}
                    </td>
                    <td>
                        <span class="is-visible">{{ entity.word2 }}</span>
                        {% if entity.word2.article %}<span class="is-visible">({{ entity.word2.article }})</span>{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager, 'twitter_bootstrap3', {'routeName': 'translation_paginated', 'routeParams': {'slug': learning.slug}}) }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/bundles/ovskilanguage/js/translation.js"></script>
{% endblock %}