{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Translation list</h1>

    {{ form(form) }}

    <table class="table records_list">
        <thead>
            <tr>
                <th>{{ learning.language1 }}</th>
                <th>{{ learning.language2 }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.word1 }} {% if entity.word1.article %}({{ entity.word1.article }}){% endif %}</td>
                <td>{{ entity.word2 }} {% if entity.word2.article %}({{ entity.word2.article }}){% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
