<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bundles/ovskiwebsite/css/styles.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar-collapse"
                >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Learn Vocabulary</span>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href={{ path("parameters_edit") }}>
                                Settings
                                <i class="fa fa-cog"></i>
                            </a>
                        </li>
                        <li>
                            <a href={{ path("fos_user_security_logout") }}>
                                Log out
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                        {{ render(controller('OvskiLanguageBundle:Learning:dropdownLearnings')) }}
                    {% else %}
                        <li>
                            <a href={{ path("fos_user_security_login") }}>
                                Log in
                            <i class="fa fa-sign-in"></i>
                            </a>
                        </li>
                    {%  endif %}
                </ul>
        </nav>
    </div>
</header>
<div>
    <section class="container">
        {% block body %}{% endblock %}
    </section>
</div>
{% block javascripts %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>