{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} |
    {% trans %}Contact{% endtrans %}
{% endblock %}

{% block menu %}
    {% include "OvskiWebsiteBundle::menu.html.twig" with {'active': 'contact'} %}
{% endblock %}

{% block body %}
    <h2>{% trans %}Contact{% endtrans %}</h2>
    <div class="row oldschool">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="col-xs-12 col-sm-5">
                <div class="fields">
                    {{ form_row(form.name) }}
                    {{ form_row(form.subject) }}
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 message">
                {{ form_row(form.message) }}
                <div class="submit">
                    {{ form_row(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}